<h1>New page</h1>

<%= form_for :page do |f| %>
    <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
    </p>
    <p>
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
    </p>
    <p>
    <%= f.label :endOn %><br>
    <%= f.datetime_select :endOn %>
    </p>
    <p>
    <%= f.submit %>
    </p>
<% end %>

