<h1>New page</h1>

<%= form_for :page, url: pages_path do |f| %>
    <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
    </p>
    <p>
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
    </p>
    <p>
    <%= f.label :end_on %><br>
    <%= f.datetime_select :end_on %>
    </p>
    <p>
    <%= f.submit %>
    </p>
<% end %>

